extends ../main.layout.pug

block variables
	-
		var title = 'Обо мне'

block scripts
	script(src='about.bundle.js')

block header
	include ../common/header.pug

block content
	section(id='next').about
		svg.about__triangles-left(viewBox="0 0 600 110" preserveAspectRatio="none")
			polygon(points="0,0 0,110 600,110")
		svg.about__triangles-right(viewBox="0 0 600 110" preserveAspectRatio="none")
			polygon(points="600,0 600,110 0,110")
		.container.container_about
			.about__left
				h1.title.about__title
					span.about__title-text.about__title-text_with-bg Обо мне
				.about__author-foto
					+image('me_.jpg', 'Фото Виталий Ушачёв', 'about__author-image')
				h2.subtitle.about__subtitle
					span.about__title-text Кто я
				.about__about-me.text-content
					p Я веб разработчик из Орла. Мне 43 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите как тут всё классно и красиво!
			.about__right
				h2.subtitle.about__subtitle
					span.about__title-text Чем я могу быть
					br
					span вам полезен
				.about__about-skills.text-content
					p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
				.about__skills
					- 
						var skills = [
							['Frontend', [['Html5', 30], ['css3', 50], ['JavaScript & jQuery', 70]]],
							['Backend', [['PHP', 30], ['mySQL', 50], ['Node.js & npm', 70], ['Mongo.db', 50]]],
							['Workflow', [['Git', 30], ['Gulp', 50], ['Bower', 70]]]
						]

					ul.skills-list
						each skillsrow in skills
							li.skills-list__item.skills-row
								.skills-row__title #{skillsrow[0]}
								ul.skills-row__list
									each skill in skillsrow[1]
										li.skills-row__item
											figure.skill
												svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
													circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
													circle(cx="50" cy="50" r="40" data-percents=`${skill[1]}`).skill__circle.skill__circle_above
												.skill__title #{skill[0]}
	section.map
		.google-map
		.contacts
			.contacts__container
				h2.subtitle.contacts__title
					span.contacts__title-text Контакты
				address.contacts__data
					ul.contacts__list
						-
							var contacts = [
								['skype', 'abvgdeyozhtt', '24', '24'],
								['mail', 'vit.ush@mail.ru', '23', '17'],
								['phone', '+7 800 000 00 00', '19', '18'],
								['map_marker', 'г.Орёл, ул.Ленина, д.1, кв.1', '19', '24']
							]
						each contact in contacts
							li.contacts__item
								a.contacts__link(href='#')
									.contacts__marker
										+icon(contact[0], `contacts__icon contacts__icon_${contact[0]}`)(width=`${contact[2]}` height=`${contact[3]}`)
									span.contacts__value #{contact[1]}
		include ../common/footer.pug